# python package requirements

requests==2.10.0

#mongodb
#aiomotorengine
https://github.com/ilex/aiomotorengine/archive/master.zip
greenlet==0.4.13

tornado==4.3
#torndsession==1.1.4
ujson==1.35

tabulate==0.8.2

# xtest base
https://github.com/our-dev/dtlib/archive/master.zip
https://github.com/x-utest/xtest-server-base/archive/master.zip